<%- include("partials/header.ejs")%>

<div class="posts">
  <% data.forEach(post => { %>
  <div class="post">
    <div class="video-container">
      <video controls>
        <source src="<%= post.video %>?v=<%= Date.now() %>" type="video/mp4">
      </video>
    </div>
    <div class="quote-container">
      <div><p><%- post.quote %></p></div>
      <div class="post-btn-container">
        <a href="/edit/<%= post.id %>" class="btn primary">&#x1F589;</a>
        <form 
          action="/delete/<%= post.id %>" method="POST" 
          style="display:inline;">
          <button class="btn primary" type="submit">&#128465;</button>
        </form>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<%- include("partials/footer.ejs")%>
