<%- include("partials/header.ejs")%>

<div>
  <div class="hero">
    <h1>Welcome to my Blog Post</h1>
    <a href="/create">Create New Post</a>
  </div>

  <div class="posts">
    <% data.forEach(post => { %>
    <div class="post">
      <div class="video-container">
        <video controls width="600" height="360">
          <source src="<%= post.video %>?v=<%= Date.now() %>" type="video/mp4">
        </video>
      </div>
      <div class="quote-container">
        <div><p><%- post.quote %></p></div>
        <div>
          <a href="/edit/<%= post.id %>">Edit</a>
          <form 
            action="/delete/<%= post.id %>" method="POST" 
            style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include("partials/footer.ejs")%>
